@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'SF Pro';
    src: url('/public/fonts/SF-Pro/Regular.otf');
}
@font-face {
    font-family: 'SF Pro';
    src: url('/public/fonts/SF-Pro/RegularItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/public/fonts/SF-Pro/Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'SF Pro';
    src: url('/public/fonts/SF-Pro/BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro';
    src: url('/public/fonts/SF-Pro/Semibold.otf');
    font-weight: 600;
}
@font-face {
    font-family: 'SF Pro';
    src: url('/public/fonts/SF-Pro/SemiboldItalic.otf');
    font-weight: 600;
    font-style: italic;
}

@theme {
    --font-sans: 'SF Pro', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: oklch(0.4226 0.2621 268.79);
    --color-primary-foreground: #ffffff;
    --color-success: oklch(0.598 0.163 149.843);
    --color-success-foreground: #ffffff;
    --color-accent: #000000;
    --color-accent-foreground: #ffffff;
    --color-bg: #ffffff;
    --color-bg-foreground: #1e2328;
    --color-bg-200: #f5f5f5;
    --color-bg-300: #cccccc;
    --color-border: oklch(0.922 0 0);
    --color-input: oklch(0.83 0 89.876);
    --color-muted: oklch(0.97 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-danger: oklch(0.637 0.237 25.331);
    --color-danger-foreground: #ffffff;

    --breakpoint-3xl: 132rem;
}

.library {
    border: 2px solid rgb(92, 22, 28);
}

.sim-grid-tile {
    position: relative;
    &:has(> .sim-component) {
        padding: unset;
    }

    & > .sim-component {
        padding: unset;
        height: 100%;
        width: 100%;
        border: unset;

        p {
            display: none;
        }

        img {
            display: block;
            width: 80%;
            height: auto;
            margin: auto;
            /*width: 100%;*/
            /*height: 100%;*/
            object-fit: cover;
            max-width: unset;
            border-radius: unset;
        }
    }

    .tile-info {
        position: absolute;
        z-index: 100;
        width: max-content;
        background-color: white;
        border: 1px solid var(--color-primary);
        color: black;
        border-radius: 7px;
        min-height: 50px;
        padding: 12px;
        display: none;
        transform: scale(0.7);
        opacity: 0;

        li {
            margin: 0;
            padding: 0;
        }

        &[aria-hidden=false] {
            display: block;
            animation: tile-info-entry 150ms ease-in-out forwards;
        }
    }
}

@keyframes tile-info-entry {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
