@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: oklch(0.765 0.177 163.223);
    --color-primary-foreground: #ffffff;
    --color-success: oklch(0.723 0.219 149.579);
    --color-success-foreground: #ffffff;
    --color-accent: oklch(0.746 0.16 232.661);
    --color-accent-foreground: #ffffff;
    --color-bg: #ffffff;
    --color-bg-foreground: #1e2328;
    --color-bg-200: #f5f5f5;
    --color-bg-300: #cccccc;
    --color-border: oklch(0.922 0 0);
    --color-input: oklch(0.83 0 89.876);
    --color-muted: oklch(0.97 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-danger: oklch(0.637 0.237 25.331);
    --color-danger-foreground: #ffffff;
}

/* these sample classes can be edited I just made them so
I can quickly display how the drag and drop will function */
/*.grid {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.grid-item {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border: 2px solid rgb(22, 92, 22);*/
/*}*/

.library {
    border: 2px solid rgb(92, 22, 28);
}

.sim-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.sim-grid-tile {
    position: relative;
    &:has(> .sim-component) {
        padding: unset;
    }

    & > .sim-component {
        padding: unset;
        border-radius: unset;
        height: 100%;
        width: 100%;

        p {
            display: none;
        }

        img {
            display: block;
            width: 80%;
            height: auto;
            margin: auto;
            /*width: 100%;*/
            /*height: 100%;*/
            object-fit: cover;
            max-width: unset;
            border-radius: unset;
        }
    }

    .tile-info {
        position: absolute;
        z-index: 100;
        width: max-content;
        background-color: white;
        border: 1px solid var(--color-primary);
        color: black;
        border-radius: 7px;
        min-height: 50px;
        padding: 12px;
        display: none;
        transform: scale(0.7);
        opacity: 0;

        li {
            margin: 0;
            padding: 0;
        }

        &[aria-hidden=false] {
            display: block;
            animation: tile-info-entry 150ms ease-in-out forwards;
        }
    }
}

@keyframes tile-info-entry {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
